.left-panel {
    width: 18% !important;
    height: 100%;
}

.right-panel {
    width: 82%;
    height: 100%;
}

h3 {
    padding: 30px 22px;
    box-sizing: border-box;
    color: #2f518c;
    width: 100%;
    border-right: 1px solid lightgray;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    height: 9%;
}

.ivu-menu.ivu-menu-vertical {
    background: url(~@/assets/portal.jpg) no-repeat 100px bottom;
    background-size: 92%;
}